torch==2.7.0+rocm6.3
torchvision==0.22.0+rocm6.3
torchaudio==2.7.0+rocm6.3
xformers==0.0.32.post1
timm==1.0.21
einops==0.8.1
numpy==1.26.4
scipy==1.14.1
safetensors==0.6.2
transformers==4.57.1
accelerate==1.11.0
datasets==4.3.0
evaluate==0.4.6
huggingface-hub==0.36.0
tokenizers==0.22.1
sentencepiece==0.2.1
peft==0.17.1
sacrebleu==2.5.1
rouge_score==0.1.2
pycocotools==2.0.10
pycocoevalcap==1.2
sentence-transformers==5.1.2
RapidFuzz==3.14.3
opencv-python-headless==4.11.0.86
Pillow==11.3.0
decord==0.6.0
imageio==2.37.0
ftfy==6.3.1
tqdm==4.67.1
regex==2025.10.23
requests==2.32.5
omegaconf==2.3.0
pandas==2.2.3
pyarrow==22.0.0
qwen-vl-utils==0.0.14
